
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:left; margin-bottom: 27px;" class="name_page">Статистика</h2>

<p>Количество зарегистрированных пользователей: <b>@ViewBag.count_user</b></p>
<p>Количество доданых каналов: <b>@ViewBag.count_channel</b></p>
<p>Количество каналов на одного пользователя: <b>@ViewBag.channel_for_one_user</b></p>
<p>Количество категори: <b>@ViewBag.count_category</b></p>