@model YouTubeDataBase.Models.AccountModels.User
@{
    ViewBag.Title = "EditAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:left; margin-bottom: 27px;" class="name_page">Редактирование аккаунта</h2>

<form method="post" action="/Account/RegisterUser/">
    <input type="hidden" name="id" value="@Model.Id">

    <label>Email</label><br>
    <input class="form-control" tupe="email" name="Email" value="@Model.Email" /><br>

    <label>Введите старый пароль</label><br>
    <input class="form-control" type="password" name="OldPassword" /><br>

    <label>Введите новый пароль</label><br>
    <input class="form-control" type="password" name="NewPassword" /><br>

    <label>Подтвердите новый пароль</label><br>
    <input class="form-control" type="password" name="ReNewPassword" /><br>

    <input class="btn btn-default" type="submit" value="Изменить"/>
</form>

