@{
    ViewBag.Title = "О Сайте";
}
<style>
    .zagolovok {
        font-size: 15px;
        font-weight: bold;
     
    }

</style>
<h2 class="name_page">О сайте</h2>

<h4 class="zagolovok">Для наших пользователей</h4>
<p>
    Все мы любим создавать что-то новое, так давайте сделаем это вместе. Этот проект начал свой путь из за потребности человека найти YouTube-каналы
    определенной категории, не только те каналы которые в топе, или в тренде, а просто каналы, например, которые относятся к образованию или переводы
    зарубежных каналов. YouTube это очень огромный ресурс и мы хотим помочь сделать его использование еще лучше, упростив поиск материала, который 
    действительно будет интересен.
</p>

<h4 class="zagolovok">Как внести свой вклад в проект?</h4>
<p>Делитесь своими YouTube - каналами, з другими, дайте возможность людям найти больше того что их интересует. </p>

<h4 class="zagolovok">О проекте</h4>
<p>
    Этот проект еще только в начале своего пути, как Вы поняли из выше сказанного, суть проекта заключается в создании структурированного
    информационного ресурса, где будет удобно и быстро найти то что вас интересует в YouTube. Мы хотим, что бы каждый из Вас стал частью
    нашего проекта, у нас есть еще много идей, которые мы хотим реализовать, поэтому Мы открыты к критике и идеям которые помогут 
    улучшить наш продукт. Заходите на страницу "Контакты" и присылайте свои пожелания на нашу почту.
</p>




