<style>
    input[type=text] {
        width: 130px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

        /* When the input field gets focus, change its width to 100% */
        input[type=text]:focus {
            width: 100%;
        }
</style>

<form method="get" action="/Home/Index" >
    <input type="text" name="txt" id="txt" required="" placeholder="Поиск.."/>
    <input type="submit" id="search" value="Поиск" />
</form>
