
@{
    ViewBag.Title = "ErrorConfirmPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<font color="red">
    <h3 style="text-align:left;" class="name_page">ErrorConfirmPassword</h3>
    <h4 class="message_page">Ошибка подтверждения пароля - пароли не совпадают.</h4>
</font>
