
@{
    ViewBag.Title = "ErrorEditAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<font color="red">
    <h3 style="text-align:left;" class="name_page">ErrorEditAccount</h3>
    <h4 class="message_page">Произошла ошибка при редактировании данных вашего аккаунт,
    проверьте правильно ли вы ввели старый пароль, совпадают ли новые пароли?</h4>
</font>