
@{
    ViewBag.Title = "ErrorAddNewChannel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<font color="red">
    <h3 style="text-align:left;" class="name_page">ErrorAddNewChannel</h3>
    <h4 class="message_page">
        Этот канал уже есть в базе.
    </h4>
</font>
