
@{
    ViewBag.Title = "ErrorLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<font color="red">
    <h3 style="text-align:left;" class="name_page">ErrorLogin</h3>
    <h4 class="message_page">Такого пользователя нет в системе, проверьте правильность введенных вами данныx.</h4>
</font>

