
@{
    ViewBag.Title = "ErrorAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<font color="red">
    <h3 style="text-align:left;" class="name_page">ErrorAccess</h3>
    <h4 class="message_page">Что бы получить доступ к этой странице нужно ввойти в свой личный кабинет.</h4>
</font>
